body {
    font-size: 12px;
    font-family:"serif";
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family:"liberation Mono";    
}
ul {
    margin-bottom: 0px;
    margin-top: 0px;    
}
article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 9px;
    background-color:#EEEEEE;
}

h1 {
    font-family: "Sans-serif",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;    
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;        
}

h2 {
    font-family: "Sans-serif",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;    
    color: black;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;        
}

h3 {
    font-family: "Sans-serif",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;    
    color: black;
    padding-left: 12px;
    margin-bottom: 0px;
    margin-top: 0px;        
}

h4 {
    font-family: "Sans-serif",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 10px;    
    color: black;
    padding-left: 14px;
    margin-bottom: 0px;
    margin-top: 0px;        
}